@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-fg: var(--color-brand-fg);
}

:root {
  --color-brand-bg: white;
  --color-brand-fg: #020617;
}

@layer base {
  /* Remove arrows for Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  /* Remove arrows for Chrome, Safari, and Edge */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

body {
  background: var(--color-brand-bg);
  font-family: "Manrope";
  background-color: var(--color-brand-bg);
  background-image: url("../public/dark-mosaic.png");
}